<% @todos.each do |todo| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to todo.title, todo %></h2>
    <p class="todo_list_sub_title"><%= todo.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New To do List", new_todo_path %>
</div>
