<p id="notice"><%= notice %></p>
<h2 class="todo_list_title"><%= @todo.title %></h2>
<p class="todo_list_sub_title"><%= @todo.description %></p>


<div id="todo_items_wrapper">
  <%= render @todo.todo_items %>
  <div id="form">
    <%= render "todo_items/form" %>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_todo_path(@todo) %> |
  <%= link_to 'Back', todos_path %> |
  <%= link_to 'Delete', @todo, method: :delete, data: { confirm: "Are you sure you want to delete this todo?" } %>
</div>

